* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, p {
    margin: 0;
}

body{
    background-color: beige;
}

.webpageTitle {
    margin: 0px 20px 0px 20px;
    font-size: 40px;
    font-weight: bold;
    color: beige;
    text-shadow: 1px 1px 2px black;
}

.background-image-container {
    background-color: rgb(190, 190, 190);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.social-media-logo-container {
    background-color: rgb(190, 190, 190);
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.sectionButton {
    background-color: transparent;
    color: beige;
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    border-color: beige;
    text-shadow: 1px 1px 2px black;
    width: 240px;
    height: 50px;
}

.sectionButton:hover {
    background-color: beige;
    text-shadow: 0px 0px 0px transparent;
    color: black;
}

.returnToTopButton {
    margin: 20px 10px 20px 10px;
    width: 10vw;
    height: 4vh;
    border-style: solid;
    border-color: black;
    color: black;
    text-decoration: none;
}

.returnToTopButton:hover {
    color: beige;
    background-color: black;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-center-items {
    align-items: center;
}

.header {
    z-index: 1;
    width: 100vw;
    height: 15vh;
}

nav {
    width: 60vh;
}

.navBarButton {
    font-size: 20px;
    color: beige;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
}

.navBarButton:hover {
    color: white;
    font-weight: bold;
}

.sectionTitle {
    color: beige;
    font-weight: normal;
    text-shadow: 2px 2px 4px black;
    font-size: 40px;
    margin: 10px 0px 10px 0px;
}

.sectionSummary {
    color: beige;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    font-size: 60px;
    margin: 20px 0px 20px 0px;
}

.background-image-center {
    background-position: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.ctaSection {
    bottom: 15vh;
    left: 4vh;
}

.copyrightNotice {
    margin: 20px 10px 20px 10px;
}

.socialMediaCTASection {
    margin: 20px 10px 20px 10px;
}

.socialMediaCTAText {
    margin: 0px 10px 0px 0px;
}

/* Background Image classes */

.steamTrainAtPlatform {
    background-image: url("./images/photos/steamTrainAtPlatform.jpg");
}

.rollingStockExample {
    background-image: url("./images/photos/rollingStockExample.jpg");
}

.steamTrainPassingStation {
    background-image: url("./images/photos/steamTrainPassingStation.jpg");
}

.guardOnPlatform {
    background-image: url("./images/photos/guardStoodOnPlatform.jpg");
}

.hornbyTrain {
    background-image: url("./images/photos/hornbyTrain.jpg");
}

.stationOverview {
    background-image: url("./images/photos/stationOverview.jpg");
    background-position-y: -30vh;
}